<%= render 'shared/errors', obj: @user %>

<div class='well span8'>
  <%= form_for @user do |f| %>
    <div class='control-group'>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'span5' %>
    </div>
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'span5' %>
    </div>
    <div class='control-group'>
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name, class: 'span5' %>
    </div>
    <%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: "btn btn-primary" %>
    <p class='btn'>
      <%= link_to 'Cancel', root_path %>
    <br/>
    </p>
    <p>    
      <br/>
      <% if !logged_in? %>
      Already a user? 
      <%= link_to 'Log in', login_path %>
      <% end %>
    </p>
  <% end %>
</div>