<% header = "Profile: #{@user.username}".html_safe %>
<%= render 'shared/content_title', title: header %>

<div class="row">
  <div class='well span8'>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Joined:</strong> <%= display_datetime(@user.created_at) %></p>
    <p><strong>Latest Post:</strong> <%= display_datetime(@user.posts.last.created_at) %>
  </div>
</div>

<div>
  <h5><%= @user.username %>'s Activity</h5>
  <ul class='nav nav-tabs'>
    <li class='<%= 'active' if params[:tab].nil? %>'>
      <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
    </li>
    <li class='<%= 'active' if params[:tab] == 'comments' %>'>
      <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
    </li>
  </ul>
</div>

<div>
  <% if params[:tab].nil? %>
    <% @user.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% elsif params[:tab] == 'comments' %>
    <% @user.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment, show_post: true %>
    <% end %>
  <% end %>
</div>
