<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: (link_to @post.title, fix_url(@post.url)) %>

<p> <%= @post.description %>
  <hr/>
</p>
<p>
  <span class="quiet">posted by: <%= link_to @post.user.username, user_path(@post.user) %>
    <small>at <%= display_datetime(@post.created_at) %></small>
  </span>
</p>
<% if logged_in? && (current_user == @post.user) %>
  <p class='btn'>
    <%= link_to 'Edit Post', edit_post_path(@post) %>
  </p>
<% end %>
<p class='btn'>
  <%= link_to 'Back to All Posts', posts_path %>
</p>

<hr/>

<% if logged_in? %>
  <div class="row">
    <div class="well span8">
      <%= render 'shared/errors', obj: @comment %>
      <%= form_for [@post, @comment] do |f| %>
        <div class='control-group'>
          <%= f.label :body, "Leave a Comment:" %>
          <%= f.text_area :body, rows: 5, class: "span5" %>
          <br/>
          <%= f.submit "Create Comment", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% @post.reload.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
