<%= render 'shared/content_title', title: 'Create a New Category' %>

<%= render 'shared/errors', obj: @category %>

<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  <%= f.submit "Create Category", class: "btn btn-primary" %>
  <% end %>
</div>

<div style="column-count: 2"> 
  <h5>Current categories include:</h5>
  <% Category.all.sort{|a,b| a['name']<=>b['name']}.each do |category| %>
    <ul>
      <li><%= link_to category.name, category_path(category) %></li>
    </ul>
  <% end %>
</div>